body {
    background-color:#222222;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: black;
    color: white;
    border-radius: 3px;
    display: flex;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 37px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 37px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 37px -17px rgba(0, 0, 0, 0.75);
}

.heading {
    font-size: 20px;
    height: 50px;
}

.subcontainer {
    margin: auto;
    font-size: 150px;
    text-align: center;
    margin-top: 30px;
}

#serial {
    font-weight: bold;
}

#sockets {
    margin: auto;
    font-weight: bold;
}

#console {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    text-align: left !important;
    padding: 20px;
    max-height: 600px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
}